[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
keyring = "==23.0.1"
urllib3 = "==1.26.4"
rich = "==10.2.2"
pywin32 = "*"

[dev-packages]
pytest = "*"
pyinstaller = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
