[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
keyring = "==23.0.0"
urllib3 = "==1.26.4"
rich = "==10.1.0"
pywin32 = "*"

[dev-packages]
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
